//# FONTS **********************************************************************
$font--primary: 'Mukta', sans-serif;

//# SIZES **********************************************************************
$page__padding: 40px;

$project__width: 48rem;
$project__padding: 2rem;
