//# FONTS **********************************************************************
$font--primary: 'Mukta', sans-serif;

//# SIZES **********************************************************************
$page__padding: 4.5rem;

$project__width: 34rem;
$project__padding: 1.5rem;
