.scroller {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container {
	width: 180rem;
	margin: auto;
	max-width: 100%;
	padding: 0 4rem;
}

.title {
	text-transform: uppercase;
	font-size: 3.2rem;
	line-height: 1.2;
	&.--small {
		font-size: 2.4rem;
	}
}

.text {
	font-size: 2.4rem;
	line-height: 1.2;
}
