//# BOX SIZING
*,
*::before,
*::after {
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

//# PREVENT USER FROM SELECT TEXT OR IMAGES
* {
	user-select: none;
}

//# REMOVE BLUE BOX ON TAPPING
*,
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//# SCROLLBAR
* {
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	background-color: hsl(0, 0%, 90%);
}
::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 90%);
}
::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 60%);
	border: 1px solid hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 40%);
}

//# ****************************************************************************
//# ****************************************************************************

//# ELEMENTS
html {
	font-size: 10px;
	@include MEDIA__MAX--WIDTH {
		font-size: calc(10 * 100vw / #{$bp__desktop});
	}
	@include MEDIA__MAX--HEIGHT {
		font-size: calc(10 * 100vh / #{$bp__height});
	}
	@include MEDIA__SQUARE {
		font-size: calc(10 * 100vw / #{$bp__desktop});
	}
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	color: white;
	font-size: 1.6rem;
	font-family: $font--primary;
	font-weight: 300;
	line-height: 1.4;
	// @include hideScrollbar;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
ol {
	margin: 0;
	padding: 0;
	font-weight: 300;
}
a,
button {
	color: inherit;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	padding: 0;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
input,
textarea {
	border: none;
	outline: none;
}
input[type='range'] {
	$track__size: 0.5rem;
	$thumb__size: 2.5rem;
	appearance: none;
	width: 100%;
	height: $track__size;
	background: rgba(white, 0.75);
	background: linear-gradient(
		90deg,
		hsl(0, var(--saturation), var(--lightness)) 0%,
		hsl(60, var(--saturation), var(--lightness)) 17%,
		hsl(105, var(--saturation), var(--lightness)) 33%,
		hsl(181, var(--saturation), var(--lightness)) 50%,
		hsl(240, var(--saturation), var(--lightness)) 67%,
		hsl(270, var(--saturation), var(--lightness)) 83%,
		hsl(0, var(--saturation), var(--lightness)) 100%
	);
	outline: none;
	cursor: pointer;
	opacity: 0.75;
	@include transition((opacity), 0.5s);
	&:hover {
		opacity: 1;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		width: $thumb__size;
		height: $thumb__size;
		background: var(--color);
		border: 0.2rem solid white;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: $thumb__size;
		height: $thumb__size;
		background: var(--color);
		border: 0.2rem solid white;
		cursor: pointer;
	}
}
textarea {
	resize: none;
}
ul {
	list-style: none;
}
